body {
    font-size: 20px;
    font-family: monospace;
    background-color: white;
    color: #555;   
}

/*Navigation*/  

header {
    background: rgb(238, 255, 234);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 5px solid darkolivegreen;
    z-index: 100;
}


nav {
    float: right;
    padding: 20px;
}

.logo{
    margin: 20px;
    float: left;
    width: 64px;
    height: 74px;
    background: url(./img/forest.png) no-repeat center;
    display: block;
}
.nav-list {
    list-style-type: none;
 }

 .nav-list li {
    display: inline-block;
    float: left;
    padding: 10px;
}
.nav-list li a {
    text-decoration: none;
    padding-right: 10px;
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

/*Hidden Menu Icon*/
.menu-icon {
    display: none;
    width: 40px;
    height: 64px;
    background: url(img/menu.png) center;
}
.nav-list li a:hover {
    color: white;
    background-color: darkolivegreen;
    border-radius: 4px 4px 0 0;
}

/*content Styling*/

section {
    margin: 0 auto;
    width: 90%;
}

.col {
    width: 50%;
    height: auto;
    float: left;
    margin: 0 auto;

}
.col2 {
    margin-bottom: 80px;
}

h1 {
    color: darkolivegreen;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}


#saveit input,
button {
    font-size: 20px;
}
.savetrees li{
    list-style-type: square;
    font-style: initial;
    margin-left: -20px;
    font-size: 18px;
}

.self-info {
    list-style-type: none;
    margin-left:-40px;
    font-size: 30px;
}
    
/*gallery Styling */

.gallery-title {
    text-align: center;
}
.gallery{
        margin: 5px;
        border: 1px solid  #ccc;
        display: block;
}
.gallery:hover {
    border: 1px solid #777;
}
.gallery img {
        width: 100%;
        display: block;
        height: auto;
}
.desc {
    padding: 15px;
    text-align: center;
}

.me {
    box-shadow: 10px 10px 5px gray;
    border-radius: 50px;
    width: 200px;
    max-width: 400;
}



/*footer syling*/

.creator {
    color: grey;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

/*responsive View*/

@media only screen and (max-width: 768px) {
    * {
        text-align: center;
    }
    header {
        position: absolute;
    }

    .menu-icon {
        display: inline-block;
    } 

    nav ul,
    nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: white;
        border: 5px solid darkolivegreen;
        right: 20px; 
        top: 60px;
        width: 50%;
        border-radius: 4px 0 4px 4px;
    }

    .nav-list li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    nav:hover ul{
        display: block;
    }
    .col1 {
        width: 100%;
    
    }

    .col2 {
        width: 100%

    }
    .savetrees li {
        list-style-type: none;
        padding-left: -10px;
    }





}